// 支持文件
@import "../../assets/scss/support";

.index {

}

.header{
	width:90vw;
	height: 50px;
	margin:20px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #000;
	border-radius: 10px;
	color: white;
	padding:0px 10px;
	font-size: 14px;
}
.input_value{
	width:90vw;
	font-size: 14px;
	margin:10px auto;
	text-align: left;
	padding:0px 10px;
	color: 666;
	border-bottom: 1px solid #666;
}
.hint{
	width:90vw;
	font-size: 14px;
	margin:50px auto;
	text-align: left;
	padding:0px 10px;
	color: #666;
}
